{% extends 'base.html'%}
{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

<div class="container" style="font-family: 'Shadows Into Light', cursive;font-size:30px;">
  <div class="">
    <div class="jumbotron jumbotron-fluid" style="background-image: url('../static/build2.jpeg');background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;">
      <div class="container text-white text-center">
        <h2 class="card-title h1-responsive font-bold" style="color:goldenrod; font-size:70px;font-weight: bold;">Welcome to Pitches</h2>
        <p class="lead" style="color:goldenrod; font-size:40px;">Pitches is where you can read other people's pitches or
          generate your own. Also you can Add a comment and Upvote or Downvote the viewed pitches.</p>
        <a class="btn btn-primary btn-md" href="{{url_for('main.newPitch')}}" style="font-size:40px; color:white;"><i
            class="fas fa-clone left"></i>Generate a Pitch</a>
      </div>
    </div>

    <h3 class="text-center text-uppercase text-bold">Categories</h3>
    <hr>

    <div class="row m-3">
      <div class="col-sm">
        <div class=" card col-sm pt-2">
          <div class="well well-lg p-3" style="text-align: center;">
            <h3 class="">Interviews Pitches</h3>
            <hr>
            <p>A summary of how one will conduct themselves and answer questions during an interview </p>
            <a href="{{url_for('main.displayInterviewCategory')}}" class="btn btn-default btn-center -center">
              View Pitch</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class=" card col-sm mt-2">
          <div class="well well-lg p-3" style="text-align: center;">
            <h3>Promotion Pitches</h3>
            <hr>
            <p>A summary of how promotional pitches should look like.How they are structured. </p>
            <a href="{{url_for('main.displayPromotionCategory')}}" class="btn btn-default btn-center -center">
              View Pitch</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-3">
      <div class="col-sm">
        <div class=" card col-sm mt-2">
          <div class="well well-lg p-3" style="text-align: center;">
            <h3>Product Pitches</h3>
            <hr>
            <p>A summary of what should be included in a product pitch </p>
            <a href="{{url_for('main.displayProductCategory')}}" class="btn btn-default btn-center -center">
              View Pitch</a>
          </div>
        </div>

      </div>
      <div class="col-sm">
        <div class=" card col-sm mt-2">
          <div class="well well-lg p-3" style="text-align: center;">
            <h3>Pickup Lines Pitches</h3>
            <hr>
            <p> Some of the pickup lines that should be included in your pitch</p>
            <a href="{{url_for('main.displayPickupCategory')}}" class="btn btn-default btn-center -center">
              View Pitch</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue-grey darken-3">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="">pitches</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

  </div>
</div>

{% endblock %}